.App {
  text-align: center;
}

.players_container {
  display: flex;
  flex-direction: row;
}

.messages {
  margin-top: 2rem;
  border-top: 1px solid black;
}

.message {
  font-size: smaller;
}

.player {
  font-weight: bolder;
  font-size: larger;
}
