.App {
  text-align: center;
}

.content {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  border-top: 1px solid black;
}

.players {
  display: inline-flex;
  flex-direction: column;
  max-width: 40vw;
  margin: 0 2rem;
}

.messages {
  display: inline-flex;
  flex-direction: column;
  max-width: 60vw;
  border-left: 1px solid black;

}

.message {
  font-size: smaller;
}

.player {
  font-weight: bolder;
}

.room {
  max-width: 60vw;
  border-radius: 5px;
  border: 2px solid red;
  background-color: lightgoldenrodyellow;
  padding: 0.5rem 2rem;
  margin: 2rem auto;
}
